:root {
  --font-primary: "Open Sans", Helvetica, sans-serif;
  --font-secondary: "Source Sans Pro", Helvetica, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  scroll-behavior: smooth;
}

.color-primary-light {
  color: var(--color-primary-light);
}

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-primary-dark);
}

hr {
  border-color: var(--color-primary-light);
}

.flex-child-imgs img {
  display: block;
  width: 100%;
}

.ligthen-blue {
  background: var(--color-three);
}

.has-background {
  background: #fbfbfd;
}

.site-main {
  padding-top: 4vh;
}

.blog-post p {
  font-size: 22px;
}

.blog-post h2 {
  font-size: 2.5rem;
}
