:root {
  /* Theme */
  --snow: #fafafa;
  --saphire-blue: #005BA8;
  --maximum-yellow-red: #f3b93c;
  --charleston-green: #282828;
  --eton-blue: #92bda3;

  /* Basic colors */
  --color-primary: #fff;
  --color-title: #005BA8;

  /* Typography */
  --font-primary: "Open Sans", Helvetica, sans-serif;
  --font-secondary: "Source Sans Pro", Helvetica, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  scroll-behavior: smooth;
}


a,
a:hover,
a:focus {
  color: var(--color-primary-dark);
}

hr {
  border-color: var(--color-primary-light);
}

.flex-child-imgs img {
  display: block;
  width: 100%;
}

.site-main {
  padding-top: 4vh;
}

.title-container {
  height: calc(100vh - 70px);
}

.title-container .title {
  bottom: 15%;
  color: #fbfbfb;
  font-family: var(--font-secondary);
  font-size: 4vw;
  font-weight: 300;
  left: 0;
  margin: auto;
  max-width: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 2px 2px 2px #111;
}

.title-container .date {
  bottom: 80px;
  color: #b3b2b2;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.title-container .background-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0s linear;
  transition-property: background-position;
}

.title-container .background-cover .background-shroud {
  background: linear-gradient(to top, rgba(17,17,17,0.8), rgba(17,17,17,0.5), transparent, transparent);
  height: calc(100vh - 70px);
  position: relative;
  transition: all .4s ease-in-out;
}

.post-blog p {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  line-height: 37px;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--saphire-blue);
  font-family: var(--font-secondary);
  line-height: 1.85;
}

.post-blog img {
  display: block;
  margin-bottom: 1rem;
  margin: auto;
  max-width: 100%;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .title-container {
    height: initial;
  }

  .title-container .background-cover {
    background-image: none !important;
  }

  .title-container .title {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
    height: initial;
    line-height: initial;
    max-width: 100%;
    padding: 1rem;
    position: relative;
    text-shadow: none;
  }

  .title-container .background-cover .background-shroud {
    background: none;
    height: initial;
  }

  .title-container .date {
    bottom: initial;
    display: block;
    margin: 0 auto;
    position: relative;
  }
}
