{% if page.section == "home" %}
<section class="section is-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div class="section-header">
          <h2 class="masthead__title title is-spaced">Especialista em acessibilidade web</h2>
          <p class="subtitle is-3">Desenvolvimento web e consultoria para produtos digitais acessíveis.</p>
          <p class="subtitle is-3">Meu trabalho e tornar a web mais inclusiva e acessível para todas as pessoas.</p>
        </div>
      </div>
      <div class="column is-6">
        <div class="section-media">
          <img role="presentation" src="/assets/images/coding.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
