{% if page.section == "home" %}
<section class="section is-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div class="section-header">
          <h2 class="title is-spaced">Especialista em acessibilidade web <br/> e front-end.</h2>
          <p class="subtitle is-3">
            Desenvolvo websites e presto consultoria em acessibilidade web.
            Meu foco é ajudar seu negócio <strong>crescer</strong> e gerar bons resultados.
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="section-media">
          <img role="presentation" src="/assets/images/coding.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
