---
layout: page
title: Palestras
image: '/img/bg-talk.jpg'
---

{% assign sorted = (site.palestras | sort: 'date') | reverse %}

{% for palestra in site.palestras reversed %}
<article class="post-preview">
  <time class="post-published" datetime="{{ palestra.date | date_to_xmlschema }}">
    {% include date.html date=palestra.event_date %}
  </time>
  <h2 class="post-title">
    <a href="{{ palestra.external_url | replace: '//', '/' }}">{{ palestra.title }}</a>
  </h2>
  <p class="post-subtitle">{{ palestra.event }}</p>
</article>
<hr>
{% endfor %}
