---
layout: page
title: "Tags"
image: "/img/bg-tags.jpg"
permalink: /tags/index.html
description: "Encontre os assuntos através das tags"
---

<div class="tags">
  <h2 class="tags__title">Lista de tags</h2>
  {% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
          <a href="#{{ tag | slugify }}" class="tags__link">{{ tag }}</a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
          <a href="#{{ tag[0] | slugify }}" class="tags__link">{{ tag[0] }}</a>
      {% endfor %}
    {% endif %}
  {% assign tags_list = nil %}
</div>

{% for tag in site.tags  %}
  <h3 class="tag__title" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
  <ul class="tag__list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
          <li class="tag__item">
            <a href="{{ site.url }}{{ post.url }}" class="related__link">
              {{ post.title }}
              <span class="entry-date">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
              </span>
            </a>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "WebPage",
    "url": "https://brunopulis.com/tags/",
    "name": "Bruno Pulis - Tags",
    "author": {
      "type": "Person",
      "name": "Bruno Pulis",
      "sameAs": [
        "https://www.facebook.com/obrunopulis",
        "https://www.instagram.com/obrunopulis/",
        "https://www.linkedin.com/in/pulis/",
      ]
    },
    "description": "{{ site.description }}"
  }
</script>
