/* .main-nav__list {
	display: flex;
	list-style: none;
}

.main-nav__link {
	color: var(--color-white);
	padding: 1rem;
	text-decoration: none;
} */

.navbar-item {
  color: var(--color-white);
}

.is-active .navbar-item {
  color: #000 !important;
}
