<!-- Services Section -->
<section class="section services has-background is-medium" id="services">
  <h2 class="services__title section-heading">{{ site.data.home.services.title }}</h2>

  <div class="container">
    <div class="columns">
      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        <div class="card is-usp">
          <img src="/assets/images/wordpress.svg" class="step__image" alt="">
          <hr class="spacer is-1">

          <h3 class="services__subtitle title is-4 is-spaced">Desenvolvimento</h3>
          <ul class="services__list">
            <li class="services__item">Desenvolvimento de website;</li>
            <li class="services__item">Landing Pages;</li>
            <li class="services__item">Temas personalizados para Wordpress;</li>
            <li class="services__item">Desenvolvimento de sistemas.</li>
          </ul>
        </div>
      </div>

      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        <div class="card is-usp">
          <img src="/assets/images/responsive-design.svg" class="step__image" alt="">
          <hr class="spacer is-1">

          <h3 class="services__subtitle title is-4 is-spaced">Design Responsivo</h3>
          <p class="subtitle is-5">
            Ter um layout responsivo significa que seu site é redimensionado para uma visualização ideal, independentemente do tamanho da tela ou do dispositivo (por exemplo, iPhone, iPad).
          </p>
        </div>
      </div>

      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        <div class="card is-usp">
          <img src="/assets/images/a11y.svg" class="step__image" alt="">
          <hr class="spacer is-1">

          <h3 class="services__subtitle title is-4 is-spaced">Acessibilidade Web</h3>
          <ul class="services__list">
            <li class="services__item">Avaliação de acessibilidade;</li>
            <li class="services__item">Treinamentos;</li>
            <li class="services__item">Adequação com o WCAG 2.1;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
