<!-- Services Section -->
<section class="services has-background is-medium" id="services">
  <div class="container">
    <h2 class="services__title section-heading">{{ site.data.home.services.title }}</h2>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="card is-usp">
          <img src="/assets/images/wordpress.svg" class="step__image" alt="">
          <hr class="spacer is-1">
          <h3 class="title is-4 is-spaced">Wordpress</h3>
          <p class="subtitle is-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem non, corrupti quia, excepturi
            explicabo minus labore dolore veniam reiciendis rerum iure tempore molestiae itaque soluta ad. Modi est
            ullam molestias.
          </p>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-usp">
          <img src="/assets/images/responsive-design.svg" class="step__image" alt="">
          <hr class="spacer is-1">
          <h3 class="title is-4 is-spaced">Design Responsivo</h3>
          <p class="subtitle is-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem non, corrupti quia, excepturi
            explicabo minus labore dolore veniam reiciendis rerum iure tempore molestiae itaque soluta ad. Modi est
            ullam molestias.
          </p>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-usp">
          <img src="/assets/images/a11y.svg" class="step__image" alt="">
          <hr class="spacer is-1">
          <h3 class="title is-4 is-spaced">Consultoria</h3>
          <p class="subtitle is-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem non, corrupti quia, excepturi
            explicabo minus labore dolore veniam reiciendis rerum iure tempore molestiae itaque soluta ad. Modi est
            ullam molestias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
