<!-- Services Section -->
<section class="services" id="services">
  <h2 class="services__title section-heading">{{ site.data.home.services.title }}</h2>

  <ul class="services__list">
    <li class="services__item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fab fa-wordpress-simple"></i>
      </span>
      <h4 class="service-heading">Temas Wordpress</h4>
      <p class="text-muted">Desenvolvimento de temas personalizados para seu site</p>
    </li>
    <li class="services__item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Design Responsivo</h4>
      <p class="text-muted">Sites responsivos, compatíveis com as melhores práticas do mercado, para garantir um bom posicionamento de SEO.</p>
    </li>
    <li class="services__item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Consultoria</h4>
      <p class="text-muted">Avaliação de acessibilidade para websites</p>
    </li>
  </ul>
</section>
