.services {
  text-align: center;
}

.services .card {
  background-color: transparent;
  box-shadow: none;
}

.services__title {
  color: #222;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.services__subtitle {
  color: #222;
}

.services__list {
  list-style: disc;
  text-align: left;
  padding-left: 85px;
}

.services__item {
  font-size: 1.25rem;
}


.steps__inner {
  display: flex;
  justify-content: space-around;
}

.step {
  margin: 15px 0;
  overflow: auto;
  padding: 16pt 0;
  text-align: center;
  width: 100%;
}

.step__media {
  margin: 32px 0;
}

.step__image {
  margin-top: 8px;
  max-height: 100px;
  max-width: 222px;
}

.step__title {
  font-size: 1.2em;
  font-weight: 600;
}

.step__text {
  margin-bottom: 1.3em;
  max-width: 36ch;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
