  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Não perca uma atualização!</h2>

                <form action="#">
                    <div class="input-group">
                        <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                        <button class="btn btn-info btn-lg" type="submit">Submit</button>
                    </div>
                </form>
          </div>
      </div>
  </aside>
