{% for post in paginator.posts  limit: 5 %}
  <article class="card post-preview">
    <div class="card-body">
      <time class="post-published" datetime="{{ post.date | date_to_xmlschema }}">
        {% include shared/date.html date=post.date %}
      </time>

      <h2 class="card-title post-title">
        <a class="card-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-subtitle card-text">{{ post.introduction | strip_html | truncatewords: 50 }}</p>

      {% include tags-home.html %}
    </div>
  </article>
{% endfor %}
