<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Olá, sou Bruno Pulis</h2>
                <hr class="light">
                <p class="text-faded">Eu sou um desenvolvedor frontend, que adora trabalhar em equipe com projetos desafiadores e criativos que mudem a vida das pessoas. Como programador busco sempre as melhores práticas para um código funcional e otimizado, gosto de experimentar novas tecnologias e processos que possam melhorar o desenvolvimento.

                    </p>
                <p class="text-faded">No meu tempo livre dedico a leitura e escrita de artigos, pesquisando sempre sobre acessibilidade web e compartilhando conhecimentos com a comunidade open source.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
