<header id="site-header">
  <nav class="navbar is-dark m-auto" role="navigation" aria-label="Navegação principal">
    <div class="container">
      <div class="navbar-brand">
        <h1><a class="navbar-item" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          {% include components/navigation/navigation.html navigation=site.data.navigation %}
        </div>
      </div>
    </div>
  </nav>
</header>
