<!-- Navigation -->
<nav class="navbar navbar-expand-lg" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">Bruno Pulis</a>
    <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse" type="button">
      Menu
      <i aria-hidden="true" class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.site.items %}
          <li class="nav-item">
            <a href="{{ site.baseurl }}{{ site.data.site.items.link | relative_url }}" class="nav-link">
              {{ site.data.site.items.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
