<span class="read-time" title="Estimated read time">
    Tempo de leitura:
    <svg id="i-clock" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
    stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>

    {% assign words = content | number_of_words %}
    {% if words < 360 %}
      1 minuto leitura.
    {% else %}
      {{ words | divided_by:180 }} minutos leitura.
    {% endif %}
  </span>
  <style>
      svg#i-clock {vertical-align: middle;}
  </style>
  <hr/>
