---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
{% include metadata/head.html %}

<body itemscope itemtype="http://schema.org/WebPage">
  {% include components/header.html %}

  <main class="main-wrapper" id="main-content">
    {{ content }}

    <footer class="footer text-center py-2 theme-bg-dark">
      <small class="copyright">Feito com <i class="fas fa-heart" style="color: #fb866a;"></i> por <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> para desenvolvedores</small>
    </footer>
  </main>

  {% include shared/scripts.html %}
</body>

</html>