// Styling for the footer
footer {
  background: black;
  color: white;
  padding: 20px 0;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    color: white !important;
    font-size: 14px;
    margin: 0;
    text-align: center;

    a {
      color: white;
    }

    .love { padding-left: 10px; }
  }
}
