// ======================================================
// Related
// ======================================================

.related {
  padding: 35px 0;

  &__title { padding-bottom: 30px; }
}

.related__list {
  .list-group-item { padding-left: 0; }
}
