<section class="blog is-medium" id="blog">
  <div class="container">
    <h2 class="services__title section-heading">{{ site.data.home.blog.title }}</h2>
  </div>

  <div class="container">
    <div class="blog__list columns is-multiline">
      {% for post in site.posts  limit: 6 %}
        <div class="column is-12-mobile is-6-tablet is-4-desktop">
          <article class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="{{ post.description }}">
              </figure>
            </div>

            <div class="card-content">
              <div class="tags">
                <div class="tag">{{ post.categories }}</div>
              </div>

              <h2 class="title is-3">
                <a class="card-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
              </h2>

              <p>{{ post.introduction | strip_html | truncatewords: 150 }}</p>
              <p>Por: {{ site.author.name }} | {% include shared/date.html date=post.date %}</p>
              <time class="post-published" datetime="{{ post.date | date_to_xmlschema }}"></time>              
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
