// =======================================================
// Post Blog
// =======================================================

.blog-post {
  @include make-col-ready;
  @include make-col(4);
}

.blog-post__category {
  display: block;
  background: $white;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.blog-post__link {
  color: $bg-default;

  &:hover,
  &:focus {
    color: $bg-default;
  }
}

.blog-post__title {
  font-size: 20px;
  font-weight: 600;
}

.blog-post__card {
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
  @extend .card;
}

.post-meta ul {
  @include list-unstyled();
}

.post-meta li {
  font-size: 12px;
  display: inline-block;
}
