// ===============================================================
// Navigation
// ===============================================================

.navigation {
  background: var(--bg-color);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  min-height: 100px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navigation__logo {
  align-content: center;
  cursor: pointer;
  display: grid;
  justify-content: start;
}

.navigation__list {
  align-content: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  list-style: none;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
}

.navigation__link {
  color: var(--link-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:hover,
.navigation__link:focus {
  background: var(--link-color);
  color: var(--bg-color);
}

@media(max-width: 769px) {
  .navigation {
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  }

  .navigation__logo {
    align-content: center;
    padding: 15px 0 0 0;
    justify-content: center;
  }

  .navigation__list {
    align-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
