// =======================================================
// Newsletter
// =======================================================

.newsletter {
  background: #2a80b9;
  padding: 80px 0;
}

.newsletter-content {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter__title {
  color: $white;
  margin-bottom: 40px;
}

.newsletter__input {
  border-color: $white;
  border-radius: 0;
  height: 50px;
}

.newsletter__input:focus {
  border: 2px solid #243c4f;
  box-shadow: none;
}

.newsletter__submit {
  background: #243c4f;
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  min-height: 50px;
}
