// ===============================================================
// Table
// ===============================================================

table { width: 100%; }

thead {
  background: black;
  color: white;
}

thead th {
  text-align: center;
  padding: 10px;
}

tbody tr:nth-child(odd) { background-color: #ccc; }
tbody td:nth-child(n + 2) { text-align: center; }
tbody td { border: 1px solid #000; }

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #292929
}

.table th,
.table td {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #a9a8a8
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #a9a8a8
}

.table tbody+tbody {
	border-top: 2px solid #a9a8a8
}

.table-sm th,
.table-sm td {
	padding: .3rem
}

.table-bordered {
	border: 1px solid #a9a8a8
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #a9a8a8
}

.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
	border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05)
}

.table-hover tbody tr:hover {
	color: #292929;
	background-color: rgba(0, 0, 0, 0.075)
}

.table-primary,
.table-primary>th,
.table-primary>td {
	background-color: #d2d6e6
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
	border-color: #abb2d1
}

.table-hover .table-primary:hover {
	background-color: #c2c7dd
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
	background-color: #c2c7dd
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
	background-color: #cecece
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody+tbody {
	border-color: #a4a4a4
}

.table-hover .table-secondary:hover {
	background-color: #c1c1c1
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
	background-color: #c1c1c1
}

.table-success,
.table-success>th,
.table-success>td {
	background-color: #c3e6cb
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
	border-color: #8fd19e
}

.table-hover .table-success:hover {
	background-color: #b1dfbb
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
	background-color: #b1dfbb
}

.table-info,
.table-info>th,
.table-info>td {
	background-color: #bee5eb
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody+tbody {
	border-color: #86cfda
}

.table-hover .table-info:hover {
	background-color: #abdde5
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
	background-color: #abdde5
}

.table-warning,
.table-warning>th,
.table-warning>td {
	background-color: #ffeeba
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody+tbody {
	border-color: #ffdf7e
}

.table-hover .table-warning:hover {
	background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
	background-color: #ffe8a1
}

.table-danger,
.table-danger>th,
.table-danger>td {
	background-color: #f5c6cb
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody+tbody {
	border-color: #ed969e
}

.table-hover .table-danger:hover {
	background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
	background-color: #f1b0b7
}

.table-light,
.table-light>th,
.table-light>td {
	background-color: #eee
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody+tbody {
	border-color: #dfdfdf
}

.table-hover .table-light:hover {
	background-color: #e1e1e1
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
	background-color: #e1e1e1
}

.table-dark,
.table-dark>th,
.table-dark>td {
	background-color: #cacaca
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody+tbody {
	border-color: #9d9d9d
}

.table-hover .table-dark:hover {
	background-color: #bdbdbd
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
	background-color: #bdbdbd
}

.table-active,
.table-active>th,
.table-active>td {
	background-color: rgba(0, 0, 0, 0.075)
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
	background-color: rgba(0, 0, 0, 0.075)
}

.table .thead-dark th {
	color: #fff;
	background-color: #434242;
	border-color: #565656
}

.table .thead-light th {
	color: #5c5c5c;
	background-color: #b5b5b5;
	border-color: #a9a8a8
}

.table-dark {
	color: #fff;
	background-color: #434242
}

.table-dark th,
.table-dark td,
.table-dark thead th {
	border-color: #565656
}

.table-dark.table-bordered {
	border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05)
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.075)
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-sm>.table-bordered {
		border: 0
	}
}

@media (max-width: 767.98px) {
	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-md>.table-bordered {
		border: 0
	}
}

@media (max-width: 991.98px) {
	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-lg>.table-bordered {
		border: 0
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-xl>.table-bordered {
		border: 0
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
	border: 0
}