.tag__title {
  display: block;
  float: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75rem;
  padding-left: 0;
  padding-right: 0;
}

.tags__link {
  border-radius: .313rem;
  border: 1px solid #333;
  color: #333;
  display: inline-block;
  font-size: .875rem;
  margin-bottom: .5rem;
  margin-right: .125rem;
  padding: .25rem .625rem;
  text-decoration: none;
  transition: all .5s;

  &:hover,
  &:focus {
    background: #333;
    color: white;
  }
}
