@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

// Font Family
$ff-heading: 'Montserrat', sans-serif;
$ff-body: 'Open Sans', sans-serif;

// Font Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;