.site-title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
  color: white;
  text-decoration: none;
}
