<section class="talks section has-background" id="talks">
  <div class="container">
    <h2 class="services__title section-heading">
      {{ site.data.home.talks.title }}
    </h2>
  </div>

  <div class="container">
    <ul class="columns is-multiline">
      {% assign palestras = (site.palestras | sort: 'date') | reverse %}
      {% for palestra in palestras limit: 3  %}
      <li class="column is-4-widescreen is-4-tablet is-4-desktop">
        <article class="post-preview">
          <a href="{{ palestra.url }}">
            <img src="{{ palestra.external_image }}" alt="">
          </a>

          <h2 class="talks__title">
            <a href="{{ palestra.url }}">{{ palestra.title }}</a>
          </h2>

          <div class="talks__content">
            <time><strong>Data</strong> {{ palestra.event_date | date: "%d/%m/%y" }}</time>
            <p><strong>Evento:</strong> {{ palestra.event }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
