{% for palestra in paginator.palestras limit: 3 %}
  <article class="post-preview">
    <a href="{{ post.url }}">
      <h2 class="post-title">{{ palestra.title }}</h2>
      {% if palestra.subtitle %}
        <h3 class="post-subtitle">{{ palestra.subtitle }}</h3>
      {% else %}
        <h3 class="post-subtitle">{{ palestra.excerpt | strip_html | truncatewords: 15 }}</h3>
      {% endif %}
    </a>
    <p class="post-meta">
      {% include metadata/metas.html %}
    </p>
  </article>
  <hr>
{% endfor %}
