<section class="author">
  <figure class="author-img">
      <img itemprop="image" class="img-rounded" width="100" height="100" src="/images/author.jpg" alt="Bruno Pulis">
  </figure>

  <div class="author-content">
    <h3 class="author-content__title">{{ site.author }}</h3>
    <p class="author-content__job">{{ site.description }}</p>

    <a target="_blank" rel="noopener noreferrer" class="author-social" href="http://instagram.com/{{ site.github_username }}">
      <i class="fa fa-github" aria-hidden="true"></i>
      <span class="sr-only">Github</span>
    </a>
    <a target="_blank" rel="noopener noreferrer" class="author-social" href="http://instagram.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <span class="sr-only">Twitter</span>
    </a>
    <a target="_blank" rel="noopener noreferrer" class="author-social" href="http://facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <span class="sr-only">Facebook</span>
    </a>
  </div>
</section>
