{% if page.comments != false %}
<section class="comments">
  <div id="disqus_thread"></div>
</section>

<script>
  var disqus_loaded = true;
  function load_disqus() {
    var d = document, s = d.createElement('script');
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{page.url}}';
      this.page.identifier = '{{page.disquis_shortname}}';
    };

    s.src = '//brunopulis.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);

    disqus_loaded = true;
  };
</script>
{% endif %}
