<script src="{{ '/assets/js/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/popper.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js'| relative_url }}"></script>
<script src="{{ '/assets/js/stellar.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/vendors/nice-select/js/jquery.nice-select.min.js' | relative_url }}"></script>
<script src="{{ '/assets/vendors/isotope/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script src="{{ '/assets/vendors/isotope/isotope-min.js' | relative_url }}"></script>
<script src="{{ '/assets/vendors/owl-carousel/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.ajaxchimp.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/mail-script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
