<section id="newsletter" class="section is-medium has-background-black">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title has-text-white">Newsletter</p>
        <p class="subtitle is-4 has-text-grey-light">Acompanhe as novidades do blog</p>
      </div>

      <div class="column">
        <form action="https://brunopulis.us3.list-manage.com/subscribe/post?u=e1843173804aef8e161201c1b&amp;id=806ccbea2e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <fieldset>
            <legend class="is-sr-only">Newsletter</legend>

            <div class="field is-grouped">
              <div class="control has-icons-left is-expanded">
                <label class="is-sr-only" for="mce-EMAIL">E-mail</label>
                <input type="email"
                       value=""
                       name="EMAIL"
                       class="input is-medium is-flat"
                       id="mce-EMAIL"
                       placeholder="Preencha com seu e-mail"
                       required type="email"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_e1843173804aef8e161201c1b_806ccbea2e" tabindex="-1" value="">
              </div>

              <div class="control">
                <input type="submit" value="Se inscreva" name="subscribe" id="mc-embedded-subscribe" class="button is-medium is-link">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
