// ===============================================================
// Header
// ===============================================================

.header {
  align-items: flex-start;
  color: var(--text-color);
  display: flex;  
  flex-direction: column;
  min-height: 40vh;
  justify-content: center;

  &__title {
    color: var(--text-color);
    font: 700 3.5rem var(--title-font);
  }

  &__headline { font-size: 1.5rem; }
}

.header {
  align-items: flex-start;
  color: var(--text-color);
  display: flex;  
  flex-direction: column;
  min-height: 40vh;
  justify-content: center;
}

.header__title {
	color: var(--text-color);
  font: 700 3.5rem var(--title-font);
}

.header__headline { font-size: 1.5rem; }

.theme-switch { margin-left: 20px; }
.main-wrapper { padding-top: 108px; }

.section-title {
	font: 700 2.5rem 'Montserrat', sans-serif;
}

.lazyload {
  width: 100%;
  height: 244px;
}

a {
  color: var(--c-light-primary);
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  background: var(--bg-color);
  color: var(--link-color);
}

.blog-post-body {
  margin-top: 40px;
}


.cta-section {
	background: var(--c-light-primary);
	color: var(--c-dark-text);
  margin: 60px 0;
  text-align: center;
}

.cta-section .intro {
  color: var(--c-dark-text);
}

.blog-posts-content-container {
  max-width: 60vw;
  margin: 60px auto 0;
  position: relative;
}



.main-content {
	min-height: 20vh;
}

.cta-section {
	background: var(--color-bg);
	color: var(--white);
	margin: 60px 0;
}

.cta-section .heading {
	color: var(--white);
	font-size: 2rem;
	font-weight: bold;
}

p {
	font-size: 1.1rem;
  line-height: 1.8rem;
	margin-bottom: 30px;
	color: var(--text-color);
}

.blog-posts-content-container {
  max-width: 60vw;
  margin: 60px auto 0;
  position: relative;
}

.main-content {
	min-height: 20vh;
}

.blog-list .item .post-thumb {
	max-width: 110px;
	border-radius: 2px
}

.blog-list .item .intro {
	font-size: 0.875rem;
	color: var(--white);
}

.blog-list .item .more-link {
	font-size: 0.8125rem
}

.blog-nav .nav-link {
	background: #5D6BA7;
	color: #fff;
	font-size: 1rem;
	padding: 1rem;
	font-weight: bold;
	position: relative
}

.blog-nav .nav-link:hover {
	background: #4a5587
}

.blog-nav .nav-link-prev {
	border-right: 1px solid #384066
}

.blog-nav .arrow-prev {
	position: absolute;
	left: 1rem;
	top: 1.25rem;
	color: #fff
}

.blog-nav .arrow-next {
	position: absolute;
	right: 1rem;
	top: 1.25rem;
	color: #fff
}

.blog-post .title {
	font-weight: bold;
	font-size: 2rem
}

.blog-post .blog-post-body p,
.blog-post .blog-post-body li {
	font-size: 1.125rem;
	line-height: 1.6
}

.blog-post .blog-post-body h1 {
	font-size: 2.125rem
}

.blog-post .blog-post-body h2 {
	font-size: 2rem
}

.blog-post .blog-post-body h3 {
	font-size: 1.75rem
}

.blog-post .blog-post-body h4 {
	font-size: 1.5rem
}

.blog-post .blog-post-body h5 {
	font-size: 1.25rem
}

.blog-post .blog-post-body h6 {
	font-size: 1.125rem
}

.blog-post .image-caption {
	color: #8f8f8f;
	font-size: 0.875rem
}

.blog-post .image-caption a {
	color: #8f8f8f;
	text-decoration: underline
}

.blog-post .image-caption a:hover {
	color: #4f4f4f
}

.blog-post .blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	border-left: 2px solid #292929;
	font-size: 1.5rem
}

.blog-post .blockquote p {
	font-size: 1.5rem
}

.about-section .heading {
	font-size: 2rem
}

.about-section p,
.about-section li {
	font-size: 1.125rem;
	line-height: 1.6
}

.about-section h1 {
	font-size: 2.125rem
}

.about-section h2 {
	font-size: 2rem
}

.about-section h3 {
	font-size: 1.75rem
}

.about-section h4 {
	font-size: 1.5rem
}

.about-section h5 {
	font-size: 1.25rem
}

.about-section h6 {
	font-size: 1.125rem
}

.blog-post-card {
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    height: 100%;
    border-radius: 0
}

.blog-post-card .card-title {
    font-size: 1.125rem
}

.blog-post-card .card-text,.blog-post-card .more-link {
    font-size: 0.875rem
}

.blog-post-card .card-footer {
    border-top: none;
    background: none;
    padding-top: 0
}

