<div class="container">
  <div class="row justify-content-start align-items-center">
    <div class="col-lg-5">
      <div class="about_img">
        <img class="" src="assets/images/about-us.png" alt="">
      </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
      <div class="main_title text-left">
        <h2>Me apresentando</h2>
        <p>
          Trabalho com desenvolvimento web há 10 anos, sempre amei padrões web e acessibilidade.
        </p>
        <p>
          Atualmente trabalho como analista de qualidade de software e
        </p>
        <a class="primary_btn" href="/assets/docs/brunopulis.pdf" download><span>Baixar currículo</span></a>
      </div>
    </div>
  </div>
</div>
