
<div class="col-lg-4 col-md-6 blog-post"  itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="feature_item--blog">
    <a href="{{ post.url | relative_url }}" class="blog-post__link">
      {% if post.featured %}
        <figure class="blog-post__thumb post-card__thumb">
          <img src="{{post.featured}}" class="blog-post__image card-img-top" alt="{{post.alt}}" />
        </figure>
      {% else %}
        <figure class="blog-post__thumb post-card__thumb">
          <img src="/assets/images/blog-image.jpg" class="blog-post__image card-img-top" />
        </figure>
      {% endif %}

      <div class="blog-post__body card-body">
        <h3 class="blog-post__title">{{ post.title | strip_html | truncate: 150 }}</h3>
        {% if post.description %}
          <p class="blog-post__description card-text">{{ post.description | strip_html | truncatewords:20 }}</p>
        {% else %}
          <p class="blog-post__description card-text">{{ post.description | strip_html | truncatewords: 20 }}</p>
        {% endif %}
      </div>
    </a>
  </div>
</div>
