<div class="container">
  <h2>Clientes</h2>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo1.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo2.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo3.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo4.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo5.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo6.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo7.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo8.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="/assets/images/brands/logo9.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-lg-2 col-lg-4 col-md-6">
      <div class="client-info">
        <div class="d-flex mb-50">
          <span class="lage">10</span>
          <span class="smll">Anos de experiência</span>
        </div>
        <div class="call-now d-flex">
          <div>
            <span class="fa fa-phone" aria-hidden="true"></span>
          </div>
          <div class="ml-15">
            <p>entre em contato</p>
            <h3>31 97343-8008</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

