
<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <div class="form__input half">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div class="form__input input half">
    <label for="email">Email</label>
    <input type="email" name="_replyto" id="email" autocomplete="email" required>
  </div>

  <div class="form__input">
    <label for="message">Mensagem</label>
    <textarea type="text" name="message" id="message" rows="7" autocomplete="message" required></textarea>
  </div>

  <input type="hidden" name="_subject" value="Website Form submission">
  <input type="hidden" name="_format" value="plain" />
  <input class="hidden" type="text" name="_gotcha">
  <button class="btn js-submit" type="submit" value="Enviar">Enviar</button>
</form>
  