<section class="featured-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-5">Últimos trabalhos</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-1.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link"><span lang="en">Awesome A11y</span></a></h5>
                <p class="card-text">Project intro lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                <p class="card-text"><small class="text-muted">Client: Google</small></p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2"></i> -->View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-2.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Project Heading</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text"><small class="text-muted">Client: Dropbox</small></p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2"></i> -->View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-3.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Project Heading</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text"><small class="text-muted">Client: Google</small></p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2"></i> -->View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-4.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Project Heading</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text"><small class="text-muted">Client: Uber</small></p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <svg class="svg-inline--fa fa-eye fa-w-18 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <i class="fas fa-eye mr-2"></i> -->View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//row-->
    <div class="text-center py-3"><a href="portfolio.html" class="btn btn-primary"><svg class="svg-inline--fa fa-arrow-alt-circle-right fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"></path></svg><!-- <i class="fas fa-arrow-alt-circle-right mr-2"></i> -->View Portfolio</a></div>

  </div><!--//container-->
</section>
<div class="container"><hr></div>
