<section class="latest-blog-section">
  <h2 class="section-title font-weight-bold mb-5">{{ site.data.main.section.blog }}</h2>
  <div class="blog-list-wrapper">
    {% for post in site.posts limit:6 %}
      <article class="card blog-post-card" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        {% if post.thumb %}
        <img class="card-img-top" src="{{ post.thumb }}" alt="{{ post.alt }}">
        {% else %}
        <img class="card-img-top" src="assets/images/photo-thumb.jpg" alt="">
        {% endif %}

        <div class="card-body">
          <h3 class="card-title" itemprop="name">
            <a class="theme-link" href="{{ post.url }}">{{ post.title | strip_html | truncate: 150 }}</a>
          </h3>
          <p class="card-text">
            {{ post.description | strip_html | truncatewords: 25 }}
          </p>
        </div>

        <div class="card-footer">
          <meta itemprop="datePublished" content="{{post.date}}">
          <time class="text-muted small" datetime="{{ post.date | date_to_xmlschema }}">
            Publicado: {% include shared/date.html date=post.date %}
          </time>
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="text-center py-3">
    <a href="/blog" class="btn btn-primary">
      <svg class="svg-inline--fa fa-arrow-alt-circle-right fa-w-16 mr-2" aria-hidden="true" focusable="false"
        data-prefix="fas" data-icon="arrow-alt-circle-right" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512" data-fa-i2svg="">
        <path fill="currentColor"
          d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z">
        </path>
      </svg>
      {{ site.data.main.section.blog_button }}
    </a>
  </div>
</section>
