<footer class="footer pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="/assets/images/logo.png" alt="Bruno Pulis">
    </div>

    <div class="col-6 col-md">
      <h5>Mapa do site</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/">Home</a></li>
        <li><a class="text-muted" href="/sobre">Sobre</a></li>
        <li><a class="text-muted" href="/blog">Blog</a></li>
        <li><a class="text-muted" href="/palestras">Palestras</a></li>
        <li><a class="text-muted" href="/acessibilidade">Acessibilidade desse site</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Serviços</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">Wordpress</li>
        <li class="text-muted">Design Responsivo</li>
        <li class="text-muted">Consultoria em acessibilidade web</li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>Redes sociais</h5>
      <ul class="list-unstyled text-small">
        <li><a  class="text-muted" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">Github</a></li>
        <li><a  class="text-muted" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a  class="text-muted" href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
        <li><a  class="text-muted" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">E-mail</a></li>
      </ul>
    </div>

    <div class="col-12 col-xs text-center">
      <p><small>© 2019 Bruno Pulis</small></p>
      <a href="https://validator.w3.org/feed/check.cgi?url=https%3A//brunopulis.com/feed.xml">
        <img src="assets/images/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" />
      </a>

      <div class="voltar-topo">
        <a href="#site-header">Voltar ao topo</a>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/main.js "></script>
