<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
  <h2 class="sr-only">Rodapé</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md">
        <h3 class="footer__title">Mapa do site</h3>
        <ul class="list-unstyled text-small">
          <li><a class="" href="/">Home</a></li>
          <li><a class="" href="/sobre">Sobre</a></li>
          <li><a class="" href="/blog">Blog</a></li>
          <li><a class="" href="/palestras">Palestras</a></li>
          <li><a class="" href="/acessibilidade">Acessibilidade desse site</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__title">Serviços</h3>
        <ul class="list-unstyled text-small">
          <li class="">Wordpress</li>
          <li class="">Design Responsivo</li>
          <li class="">Consultoria em acessibilidade web</li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__title">Redes sociais</h3>
        <ul class="list-unstyled text-small">
          <li><a  class="" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">Github</a></li>
          <li><a  class="" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a  class="" href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
          <li><a  class="" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">E-mail</a></li>
        </ul>
      </div>

      <div class="col-12 col-xs text-center">
        <div class="voltar-topo">
          <a href="#site-header">Voltar ao topo</a>
        </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-12 col-sm-12 footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Esse template foi feito com  <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <a href="https://validator.w3.org/feed/check.cgi?url=https%3A//brunopulis.com/feed.xml">
        <img src="/assets/images/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" />
      </a>
    </div>
  </div>
</footer>

{% include  shared/scripts.html %}
