<nav class="navigation" id="main-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <a href="#main-content" class="skip-link">Ir para conteúdo principal</a>

  <a href="/">
    <img src="/assets/images/icons/favicon-32x32.png" alt="Bruno Pulis">
  </a>
  <ul class="navigation__list">
    {% for item in site.data.main.navigation %}
    <li class="navigation__item">
      <a class="navigation__link" href="{{ item.link | relative_url }}" itemprop="url">{{ item.name }}</a>
    </li>
    {% endfor %}
    <!-- <li class="theme-switch">
      <div class="toggle-box">
        <input type="checkbox" name="checkbox1" id="toggle-box-checkbox"/>
        <label for="toggle-box-checkbox" class="toggle-box-label-left"></label>
        <label for="toggle-box-checkbox" class="toggle-box-label"></label>
      </div>
    </li> -->
  </ul>
</nav>
