<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content" itemscope itemtype="http://schema.org/Person">
            <h1 class="text-uppercase" itemprop="name">Bruno Pulis</h1>
            <h5 class="text-uppercase" itemprop="jobTitle">Especialista em acessibilidade web</h5>
            <meta itemprop="worksFor" content="https://monetizze.com.br">
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="mailto:brunopulis@protonmail.com">
                <span>Me contrate</span>
              </a>
              <a class="primary_btn tr-bg" href="assets/docs/brunopulis.pdf" download><span>Currículo</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="assets/images/banner/home-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
