<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">Um blog sobre desenvolvimento, carreira e a vida</h2>
    <div class="intro">Bem-vindo ao meu blog. Se inscreva e receba as últimas novidades no seu e-mail.</div>

    <form method="post" action="https://brunopulis.us3.list-manage.com/subscribe/post?u=e1843173804aef8e161201c1b&amp;id=806ccbea2e" class="signup-form form-inline justify-content-center pt-3">
      <div class="form-group">
        <label class="sr-only" for="semail">Seu e-mail</label>
        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Melhor e-mail">
      </div>
      <button type="submit" class="btn btn-primary">Me inscrever</button>
    </form>
  </div>
</section>
