
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="subscription_box text-center">
          <h2 class="text-uppercase text-white">fique por dentro das novidades</h2>
          <p class="text-white">Dicas semanais de acessiiblidade web, qualidade de software e desenvolvimento no geral.</p>
          <div class="subcribe-form" id="mc_embed_signup">
            <form target="_blank" action="{{ site.mailchimp_url }}" method="post" class="subscription relative">
              <label for="email" class="sr-only"></label>
              <input type="email"  required name="EMAIL" id="email" placeholder="Melhor endereço de email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'">
              <div style="position: absolute; left: -5000px;">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_e1843173804aef8e161201c1b_806ccbea2e" tabindex="-1" value="">
                </div>
              </div>
              <button class="primary-btn hover d-inline">Me inscrever</button>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
