<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>{{ site.data.home.services.title }}</h2>
          <p>Posso te ajudar a desenvolver seu negócio online com os seguintes serviços:</p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-4 col-md-6">
        <div class="feature_item">
          <img src="assets/images/services/accessibility.svg" width="69" height="64" alt="">
          <h4>Consultoria</h4>
          <p>Treinamentos, consultoria, avaliação de acessibilidade, testes.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="feature_item">
          <img src="assets/images/services/wordpress-icon.svg" width="69" height="64" alt="">
          <h4>Wordpress</h4>
          <p>Sites, landing pages, hot sites, blogs, newsletters, e-mail marketing, sistemas e aplicativos</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature_item">
          <svg class="lnr lnr-rocket"><use xlink:href="#lnr-rocket" width="69" height="64" ></use></svg>
          <h4>otimização de seo</h4>
          <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
        </div>
      </div>
    </div>
  </div>
</section>
