<div class="container">
  <h2 class="section__title section-heading text-center">{{ site.data.home.services.title }}</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 text-center shadow-sm">
        <div class="card-body">
          <i class="fab fa-wordpress fa-4x"></i>
          <h3 class="services__subtitle title is-4 is-spaced">Desenvolvimento</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="services__item">E-mail marketing;</li>
            <li class="services__item">Landing Pages;</li>
            <li class="services__item">Temas para Wordpress;</li>
            <li class="services__item">Sistemas e aplicativos;</li>
          </ul>
          <a href="#" class="btn btn-lg btn-block btn-primary">Solicitar orçamento</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-pencil-ruler fa-4x"></i>
          <h3 class="services__subtitle title is-4 is-spaced">Design Responsivo</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="services__item">E-mail marketing;</li>
            <li class="services__item">Landing Pages;</li>
            <li class="services__item">Temas para Wordpress;</li>
            <li class="services__item">Sistemas e aplicativos;</li>
          </ul>
          <a href="#" class="btn btn-lg btn-block btn-primary">Solicitar orçamento</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-universal-access fa-4x"></i>
          <h3 class="services__subtitle title is-4 is-spaced">Acessibilidade web</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="services__item">Adequação com o WCAG 2.1;</li>
            <li class="services__item">Teste de acessibilidade;</li>
            <li class="services__item">Treinamentos;</li>
            <li class="services__item">Avaliação de acessibilidade;</li>
          </ul>
          <a href="#" class="btn btn-lg btn-block btn-primary">Solicitar orçamento</a>
        </div>
      </div>
    </div>
  </div>
</div>
