<aside class="sidebar">
  <section class="sidebar-single--widget search_widget">
    {% include components/search.html %}
  </section>

  <section class="sidebar-single--widget post_category_widget">
    <h2 class="widget_title">Categorias</h2>

    <ul class="list widget-category__list">
      {% for category in site.categories | reverse %}
        <li class="widget-category__item">
          <a href="/categories#{{ category[0] }}" class="widget-category__link">
          {% if page.categories contains category[0] %}
          <strong>{{ category[0] }}</strong>
          {% else %}
            {{ category[0] | capitalize }} ({{ category[1].size }})
          {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="br"></div>
  </section>

  <section class="sidebar-single--widget popular_post_widget">
    <h2 class="widget_title">Posts recentes</h2>

    {% for post in site.posts  limit: 4 %}
      <div class="media post_item">
        <div class="media-body">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <h3>{{ post.title | strip_html | truncate: 150 }}</h3>
          </a>
        </div>
      </div>
    {% endfor %}
    <div class="br"></div>
  </section>

  <section class="sidebar-single--widget  tag_cloud_widget">
    <h2 class="widget_title">Tags</h2>
    <ul class="list">
      {% for tag in site.tags %}
      <li>
        <a href="'/tags#{{ tag[0] }}">
        {% if page.tags contains tag[0] %}
          <strong>{{tag[0]}}</strong>
        {% else %}
          {{ tag[0] }}
        {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</aside>
