<h2 class="section-title">{{ site.data.home.talks.title }}</h2>

<div class="grid-container">
  <div class="grid-row">
    {% assign palestras = (site.palestras | sort: 'date') | reverse %}
    {% for palestra in palestras limit: 3  %}
      <article class="talk__item">
        <a href="{{ palestra.url }}">
          <figure class="blog-post__thumb post-card__thumb">
            <img src="{{ palestra.external_image }}" class="blog-post__image card-img-top" alt="">
          </figure>
        </a>

        <h3 class="talks__title"><a href="{{ palestra.url }}">{{ palestra.title }}</a></h3>
        <div class="talks__content">
          Data: <time datetime="{{ palestra.event_date }}">{{ palestra.event_date | date: "%d/%m/%y" }}</time>
          <p><strong>Evento:</strong> {{ palestra.event }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</div>

