<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% if page.title %}
      {{page.title}}
      -
    {% endif %}
    Bruno Pulis
    {% unless page.title %}
      -
      {{ site.data.site.seo.tagline }}
    {% endunless %}
  </title>

  {% include metadata/open-graph.html %}
  {% include shared/favicons.html %}

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/vendors/linericon/style.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/vendors/owl-carousel/owl.carousel.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/vendors/nice-select/css/nice-select.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39069482-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39069482-1');
  </script>
</head>
