<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>
    {% if page.title %}
      {{page.title}}
      -
    {% endif %}
    Bruno Pulis
    {% unless page.title %}
      -
      {{ site.data.site.seo.tagline }}
    {% endunless %}
  </title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- Google Authorship Markup -->
  <meta content="DJZadsIuwm42MwJftKIXWE3cGrZLTlOTYdMf55gIVS8" name="google-site-verification"/>

  <!-- Social: Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="@obrunopulis" name="twitter:site">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/images/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Social: Facebook / Open Graph -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="og:image" content="{{ "/assets/images/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ "/assets/images/blog-image.png" | prepend: site.baseurl | prepend: site.url }}"/>

  <link rel="icon" type="image/png" sizes="192x192" href="{{"/assets/images/icons/android-icon-192x192.png"}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{"/assets/images/icons/favicon-32x32.png"}}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{"/assets/images/icons/favicon-96x96.png"}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{"/assets/images/icons/favicon-16x16.png"}}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{"/assets/images/icons/apple-icon-57x57.png"}}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{"/assets/images/icons/apple-icon-60x60.png"}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{"/assets/images/icons/apple-icon-72x72.png"}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{"/assets/images/icons/apple-icon-76x76.png"}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{"/assets/images/icons/apple-icon-114x114.png"}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{"/assets/images/icons/apple-icon-120x120.png"}}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{"/assets/images/icons/apple-icon-144x144.png"}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{"/assets/images/icons/apple-icon-152x152.png"}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{"/assets/images/icons/apple-icon-180x180.png"}}">
  <meta content="#000000" name="msapplication-TileColor">
  <meta content="#000000" name="theme-color">
  <meta name="msapplication-TileImage" content="{{"/assets/images/icons/ms-icon-144x144.png"}}">

  <link href="/assets/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link async href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{"/css/main.css" | relative_url }}">
  <link defer rel="stylesheet" href="{{"/assets/vendor/font-awesome/css/font-awesome.min.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39069482-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39069482-1');
  </script>
</head>
