<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- Google Authorship Markup -->
  <meta name="msvalidate.01" content="A1D6C4C7B86E7BF77A38CFC9B416AD04" />
  <meta content="DJZadsIuwm42MwJftKIXWE3cGrZLTlOTYdMf55gIVS8" name="google-site-verification"/>

  <!-- Social: Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="{{ site.url }}" name="twitter:site">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/images/blog-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Social: Facebook / Open Graph -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:locale" content="pt_BR"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="og:image" content="{{ "/assets/images/blog-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="og:image" content="{{ "/assets/images/blog-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
