<section class="cta-section py-5">
  <div class="text-center">
    <h2 class="heading">Assine o newsletter</h2>
    <p>Um e-mail por mês com o resumo das postagens do blog, sem <strong>spam</strong> e chatices de e-mails
      indesejados.</p>

    <form method="post" action="https://brunopulis.us3.list-manage.com/subscribe/post"
      class="signup-form justify-content-center pt-3">
      <input type="hidden" name="u" value="e1843173804aef8e161201c1b">
      <input type="hidden" name="id" value="806ccbea2e">
      <div class="form-group">
        <div class="col-md-6 offset-md-3">
          <label class="sr-only" for="MERGE1">Seu nome</label>
          <input type="text" required name="MERGE1" placeholder="Seu nome" class="form-control" id="MERGE1" value="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 offset-md-3">
          <label class="sr-only" for="MERGE0">Seu e-mail</label>
          <input type="email" required id="MERGE0" name="MERGE0" class="form-control" placeholder="Seu e-mail">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Me inscrever</button>
    </form>
  </div>
</section>
