<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="testador de software, tester, acessilidade digital, qualidade de software, frontend, frontend developer">
  <link rel="shortcut icon" href="favicon.ico">
  <title>
    {% if page.title %}
      {{page.title}}
      -
    {% endif %}
    Bruno Pulis
    {% unless page.title %}
      -
      {{ site.data.main.seo.tagline }}
    {% endunless %}
  </title>

  {% include metadata/open-graph.html %}
  {% include shared/favicons.html %}

  <script defer src="{{ "/assets/fontawesome/js/all.min.js" }}"></script>
  <link rel="stylesheet" href="{{ "/assets/plugins/highlight/styles/a11y-dark.css" }}">
  <script src=" {{ "/assets/plugins/highlight/highlight.min.js" }}"></script>
  <link rel="stylesheet" href="{{ "/assets/css/theme-7.css" | prepend: site.baseurl }}">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39069482-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39069482-1');
  </script>
</head>
