<div class="author-card">
  <figure class="author-image" itemprop="image">
    <img src="/assets/images/author.jpg" alt="Bruno Pulis">
  </figure>

  <div class="author-content">
    <p class="author-content__title">Bruno Pulis</p>

    
    <div class="author-bio">
      <p class="author-content__job">{{ site.data.main.about.biography }}</p>
    </div>
    <div class="author-social">
      <ul class="author-social__list">
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--facebook" rel="noopener noreferrer" href="{{ site.facebook_page }}">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--twitter" rel="noopener noreferrer" href="{{ site.twitter_username }}">
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--linkedin" rel="noopener noreferrer" href="{{ site.linkedin_username }}">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span class="sr-only">Linkedin</span>
          </a>
        </li>
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--medium" rel="noopener noreferrer" href="{{ site.medium_username }}">
            <i class="fab fa-medium" aria-hidden="true"></i>
            <span class="sr-only">Medium</span>
          </a>
        </li>
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--youtube" rel="noopener noreferrer" href="{{ site.youtube_channel }}">
            <i class="fab fa-youtube" aria-hidden="true"></i>
            <span class="sr-only">Youtube</span>
          </a>
        </li>
        <li class="author-social__item">
          <a target="_blank" class="author-social__item--github" rel="noopener noreferrer" href="{{ site.github_username }}">
            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="sr-only">Github</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
