<section class="share" onclick="ga('send', 'event', 'share', 'click', 'share_buttons')">
  <h3 class="share__title">Compartilhe</h3>
  <ul class="social-share__list">
    <li class="social-share__item social-share--facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="popup" onclick="ga('send', 'event', 'share', 'click', 'Compartilhou no FB')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29" width="24" height="24">
          <use xlink:href="#share__icon--facebook"></use>
        </svg>
        <span class="sr-only">Facebook</span>
      </a>
    </li>

    <li class="social-share__item social-share--twitter">
      <a onclick="ga('send', 'event', 'share', 'click', 'Compartilhou no Twitter')" 
         href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
      class="popup">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="24" height="24">
          <use xlink:href="#share__icon--twitter"></use>
        </svg>
        <span class="sr-only"> Twitter</span>
      </a>
    </li>

    <li class="social-share__item social-share--linkedin">
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" class="popup" onclick="ga('send', 'event', 'share', 'click', 'Compartilhou no Linkedin')">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#share__icon--linkedin"></use>
        </svg>
        <span class="sr-only">Linkedin</span>
      </a>
    </li>
  </ul>
</section>
