---
layout: default
---

<section class="section">
  <div class="container">
    {% include shared/breadcrumbs.html %}

    <h2 class="title is-1">{{ page.title }}</h2>
    {% include page-intro.html %}

    <div class="container">
      <ul class="blog__list columns is-multiline is-variable is-5">
        {% for post in site.posts %}
        <li class="blog__item column is-4-widescreen is-4-tablet">
          <article class="card">
            <div class="ribbon">
              <span>{{ post.categories }}</span>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="{{ post.alt }}">
              </figure>
            </div>
            <div class="card-content">
              <time class="post-published" datetime="{{ post.date | date_to_xmlschema }}">
                {% include shared/date.html date=post.date %}
              </time>

              <h2 class="card-title subtitle is-4">
                <a class="card-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  {{ post.title }}
                </a>
              </h2>
              <div class="content">
                <p class="post-subtitle card-text">{{ post.introduction | strip_html | truncatewords: 50 }}</p>
              </div>
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% include pagination.html %}
  </div>
</section>
