---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  {% include metadata/head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="bp-container">
      {% include components/header.html %}

      <main class="main-wrapper" id="main-content">
        <div>
          {{ content }}
        </div>
      </main>
    </div>
    {% include components/libras.html %}
    {% include shared/scripts.html %}
  </body>
</html>
