---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  {% include metadata/head.html %}
  <body itemscope itemtype="http://schema.org/WebPage">
    <main>
      {% include components/header.html %}

      <section class="hero">
        {% include components/hero.html %}
      </section>

      <section class="about_area section_gap">
        {% include components/about.html %}
      </section>

      <section class="section services" id="services">
        {% include components/services.html %}
      </section>

      <section class="section blog" id="blog">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <div class="main_title">
                <h2>{{ site.data.home.blog.title }}</h2>
                <p>{{ site.data.home.blog.headline }}</p>
              </div>
            </div>
          </div>

          <div class="row" itemscope="" itemtype="http://schema.org/Blog">
            {% for post in site.posts  limit: 3 %}
              {% include components/blog-post.html %}
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="newsletter_area">
        {% include components/newsletter.html %}
      </section>

      {% include components/footer.html %}
    </main>
  </body>
</html>
