---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  {% include metadata/head.html %}
  <body itemscope itemtype="http://schema.org/WebPage">
    {% include components/header.html %}

    <section class="hero">
      {% include components/hero.html %}
    </section>

    <section class="about_area section_gap">
      {% include components/about.html %}
    </section>

    <section class="brand_area section_gap_bottom">
      {% include components/brands.html %}
    </section>

    <section class="section services" id="services">
      {% include components/services.html %}
    </section>

    <section class="section services" id="services">
      {% include components/jobs/jobs.html %}
    </section>

    <div class="testimonial_area section_gap_bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <div class="main_title">
              <h2>depoimentos</h2>
              <p>Is give may shall likeness made yielding spirit a itself togeth created after sea is in beast <br>
                 beginning signs open god you're gathering ithe</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="testi_slider owl-carousel">
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Elite Martin</h4>
                        <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t2.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Davil Saden</h4>
                    <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Elite Martin</h4>
                    <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t2.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Davil Saden</h4>
                    <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Elite Martin</h4>
                    <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testi_item">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="/assets/images/testimonials/t2.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                      <div class="testi_text">
                        <h4>Davil Saden</h4>
                    <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    <section class="section blog" id="blog">
      <h2 class="section-title">{{ site.data.home.blog.title }}</h2>

      <div class="container">
        <div class="row" itemscope="" itemtype="http://schema.org/Blog">
          {% for post in site.posts  limit: 3 %}
            {% include components/blog-post.html %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="newsletter_area">
      {% include components/newsletter.html %}
    </section>

    {% include components/footer.html %}
    {% include shared/scripts.html %}
  </body>
</html>
