---
layout: default
---

<!-- Page Header -->
{% include header-home.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      {{ content }}

      {% for post in paginator.posts  limit: 5 %}
        <article class="card post-preview">
          <div class="card-body">
            <time class="post-published" datetime="{{ post.date | date_to_xmlschema }}">
              {% include date.html date=post.date %}
            </time>

            <h2 class="card-title post-title">
              <a class="card-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                {{ post.title }}
              </a>
            </h2>

            {% if post.subtitle %}
              <p class="post-subtitle card-text">{{ post.subtitle | strip_html | truncatewords: 50 }}</p>
            {% else %}
              <p class="post-subtitle card-text">{{ post.subtitle | strip_html | truncatewords: 50 }}</p>
            {% endif %}

            {% include tags-home.html %}
            <!-- {% include metas.html %} -->
          </div>
        </article>
      {% endfor %}

      {% include pagination.html %}
    </div>
  </div>
</div>
