---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  {% include metadata/head.html %}
  <body class="site" itemscope itemtype="http://schema.org/WebPage">
    {% include components/sidebar.html %}

    <main class="content">
      <div class="w-container">
        <div class="body-copy">
          <h1 class="section-header">{{ site.data.home.blog.title }}</h1>
          {{ content }}
      </div>
      </div>
    </main>
  </body>
</html>
