---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  {% include metadata/head.html %}
  <body class="site" itemscope itemtype="http://schema.org/WebPage">
    <div class="blog">
      {% include components/sidebar.html %}

      <main>
        <div class="w-container">
          <h1 class="section-header">{{ site.data.home.blog.title }}</h1>
          
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <div class="w-dyn-item">
                <div class="post-wrapper">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
