---
layout: default
---

<div class="container">
  {% include shared/breadcrumbs/breadcrumbs.html %}

  <div class="columns blog-post">
    <div class="column">
      <h2 class="title is-2">{{ page.title }}</h2>

      {% include page-intro.html %}

      {% assign palestras = site.palestras | sort: 'date' | reverse %}
      {% for palestra in palestras %}
        <article class="post-preview">
          <a href="{{ palestra.external_url }}" target="_blank" rel="noopener noreferrer">
            <h3 class="subtitle is-3 post-title">{{ palestra.title }}</h3>
          </a>
          <div class="post-meta">
            <time><strong>Data</strong> {{ palestra.event_date | date: "%d/%m/%y" }}</time>
            <p><strong>Evento:</strong> {{ palestra.event }}</p>
          </div>
        </article>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
