---
layout: default
---
  
<section class="blog-posts-content-container">
  <article class="blog-post px-3 py-5 p-md-5" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="blog-post-header">
      <div class="meta mb-3">
        <span class="date">{{ page.date | date: "%d/%m/%Y" }}</span>
        {% include shared/read_time.html %}
      </div>
      <h1 class="title mb-2" itemprop="name headline">{{ page.title }}</h1>
    </header>
    <div id="audimaWidget"></div>

    <div class="blog-post-body">
      {% if page.featured %}
        <figure class="blog-banner">
          <img class="img-fluid" src="{{ page.featured }}" alt="{{ page.alt }}">
          <figcaption class="mt-2 text-center image-caption">
            Crédito da imagem: <a href="{{ post.link_image  }}" target="_blank">{{ page.link_text }}</a>
          </figcaption>
        </figure>
      {% endif %}

      {{ content }}

      <div class="blog-comments-section">
        <h3>Comentários</h3>
        {% include shared/disqus_comments.html %}
      </div>

      {% include components/newsletter.html %}
    </div>
  </article>
</section>

<script src="//audio.audima.co/audima-widget.js" defer></script>
