---
layout: default
---

{%- assign date_format = site.date_format | default: "%-d/%m/%y" -%}

<div class="title-container">
  <div class="background-cover" id="blog-post-cover" style="background-image: url({{ page.featured }})">
    <div class="background-shroud">
      <h1 class="title">{{ page.title }}</h1>

      <time class="date blog-post__date" datetime="{{ post.date | date_to_xmlschema }}">
        Publicado em: {{ page.date | date: date_format }}
      </time>
    </div>
  </div>
</div>

<div class="container">
  <article class="columns section post-blog">
    <div class="column">
      <div class="content">
        {{ content }}
      </div>

      {% include shared/share/share.html %}
      {% include shared/author/author.html %}
      {% include shared/comments.html %}
    </div>
  </article>
</div>
