---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
{% include metadata/head.html %}

<body itemscope itemtype="http://schema.org/WebPage">
  <div class="blog">
  {% include components/sidebar.html %}

  <main>
    <div class="w-container">
      <div class="w-dyn-list">
        <div class="w-dyn-items">
          <div class="w-dyn-item">
            <div class="post-wrapper">
              <div class="feature-img">
                <img class="img-fluid" src="{{ page.featured }}" alt="">
              </div>
              <article class="col-lg-9 col-md-9 blog_details">
                <h2>{{ page.title }}</h2>
                {{ content }}
              </article>
            </div>
            <div class="comments-area">
              <h4>Comentários</h4>
              <div class="comment-list">
                <div class="container">
                  <div class="post-content">
                    <div id="disqus_thread"></div>

                      <script>
                        var disqus_loaded = false;
                        function load_disqus() {
                          var d = document, s = d.createElement('script');
                          var disqus_config = function () {
                            this.page.url = '{{ site.url }}{{page.url}}';
                            this.page.identifier = '{{page.url}}';
                          };
  
                          s.src = '//brunopulis.disqus.com/embed.js';
                          s.setAttribute('data-timestamp', +new Date());
                          (d.head || d.body).appendChild(s);
  
                          disqus_loaded = true;
                        };
                      </script>
  
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </div>
        
      </div>
    </div>
  </section>
</div>
  </body>
</html>
