<section class="author">
  <div class="author-card">
    <figure class="author__image">
        <img itemprop="image" class="" src="/assets/images/author.jpg" alt="Bruno Pulis">
    </figure>

    <div class="author-content">
      <h3 class="author-content__title">Bruno Pulis</h3>
      <p class="author-content__job">{{ site.description }}</p>

      <a target="_blank" rel="noopener noreferrer" class="author-social" href="http://github.com/{{ site.github_username }}">
        <i class="fab fa-github" aria-hidden="true"></i>
        <span class="sr-only">Github</span>
      </a>
      <a target="_blank" rel="noopener noreferrer" class="author-social" href="http://twitter.com/{{ site.twitter_username }}">
        <i class="fab fa-twitter" aria-hidden="true"></i>
        <span class="sr-only">Twitter</span>
      </a>
    </div>
  </div>
</section>
