<nav class="breadcrumb has-succeeds-separator" id="breadcrumbs" aria-label="Navegação auxiliar">
  <ul>
    {% assign crumbs = page.url | remove:'/index.html' %}
    <li>
      <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
    {% else %}
      <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
